/* 1. Universal Reset: Sabka margin padding zero karo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  /* Ya apna font lagao */
  color: #fff;
}

/* 2. HTML aur Body ko full height do */
html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
}

.nav {
  margin: 5px;
  padding: 20px;
  background-color: rgb(61, 50, 50);
  border-radius: 20px;
}


.parent {
  padding: 10px;
  gap: 10px;
  display: flex;
}

.profilecard {
  width: 250px;
  border: 2px solid rgb(246, 226, 226);
  border-radius: 10px;
  text-align: center;
  padding: 10px 10px;
  background-color: rgb(82, 78, 78);
}

.profilecard img {
  width: 50px;
  height: 60px;
  object-fit: cover;
  border-radius: 20px;
  padding: 5px;
}

.profilecard p {
  padding: 10px;
}

.profilecard button {
  background-color: rgb(255, 255, 255);
  border: 2px solid #ffffff;
  color: black;
  padding: 4px;
  border-radius: 6.5px;
}