/* 1. Universal Reset: Sabka margin padding zero karo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  /* Ya apna font lagao */
  color: #fff;
}

/* 2. HTML aur Body ko full height do */
html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
}

.card {
  margin: 3pc;
  padding: 10px;
  text-align: center;
  background-color: rgba(227, 16, 16, 0.406);
}